article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
	display:block
}
audio,canvas,video {
	display:inline-block
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden] {
	display:none
}
html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
td
{
    padding:0 15px 0 15px;
}
body {
	margin:0
}
#wrapper {
    width: 700px;
    overflow: hidden; /* add this to contain floated children */
}
#first {
    width: 300px;
    float:left; /* add this */
}
#second {
    float: left; /* add this */
}
a:focus {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
a:active,a:hover {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:bold
}
dfn {
	font-style:italic
}
mark {
	background:#ff0;
	color:#000
}
code,kbd,pre,samp {
	font-family:monospace,serif;
	font-size:1em
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}
q {
	quotes:"\201C" "\201D" "\2018" "\2019"
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
img {
	width: 180px;
	height: 180px;
	padding: 15px 15px 15px 0px;
	transition: .2s;
}
.imgWrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.imgWrap:hover .img {
  transform: scale(1.1) rotate(2deg);
}

.imgDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 255);
  color: #000000;
  visibility: hidden;
  opacity: 0;
  padding: 1em;
  transition: .2s;
  transform: translateY(100%);
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.colleft{
   width: 100%;
}
.top{
   position: relative;
   overflow: hidden;
   float: center;
   width: 100%;
}
.right {
    position: relative;
    overflow: hidden;
    display: inline;
    text-align: right;
    float: right;
}
#list  p {
    font-family:"source-code-pro","Source Code Pro","Courier New",monospace;
    font-size: 13px;
}
.col1{
   position: relative;
   overflow: hidden;
   text-align: left;
   float: left;
   width: 500px;
   left: 20%;
}
.col2{
   position: relative;
   overflow: hidden;
   float: left;
   width: 400px;
   left: 16%;
}
.col3{
   position: relative;
   overflow: hidden;
   float: right;
   width: 20%;
   right: 4%;
}
.col4{
   position: relative;
   overflow: hidden;
   text-align: left;
   float: right;
   width: 600px;
   right: 8%;
}
.col5{
   position: relative;
   overflow: hidden;
   float: left;
   width: 20%;
   left: 8%;
}
.col6{
   position: relative;
   overflow: hidden;
   float: left;
   width: 20%;
   left: 8%;
}
.col7{
   position: relative;
   overflow: hidden;
   float: right;
   width: 20%;
   right: 4%;
}
.col8{
   position: relative;
   overflow: hidden;
   float: right;
   width: 20%;
   right: 4%;
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:0
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em
}
legend {
	border:0;
	padding:0
}
button {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
button,input,select,textarea {
	font-family:inherit;
	font-size:100%;
	margin:0
}
button,input {
	line-height:normal
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],input[disabled] {
	cursor:default
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0
}
input[type="search"] {
	-webkit-appearance:textfield;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
textarea {
	overflow:auto;
	vertical-align:top
}
*,*:before,*:after {
	box-sizing:inherit
}
body {
	font-family:"source-code-pro","Source Code Pro","Courier New",monospace;
	font-weight:400;
	font-style:normal;
	background:#fff;
	color:#333;
	font-size:12px;
	line-height:18px
}
a:link,a:visited {
    text-decoration:none
}
a:hover {
	text-decoration:none
}
a:active {
	text-decoration:none
}
p a:link,p a:visited {
	text-decoration:none
}
h1,h2,h3,h4,h5,h6,p {
	font-family:"source-code-pro","Source Code Pro","Courier New",monospace;
	font-weight:400;
	font-style:normal;
	margin:0
}
body,html {
	height:100%;
	width:100%;
	position:center
}
#wrapper {
	*zoom:1;
	height:100% !important;
	width:100%;
	display:block
}
#wrapper:before,#wrapper:after {
	content:"";
	display:table
}
#wrapper:after {
	clear:both
}
body.project #wrapper {
	width:auto;
	height:auto;
	display:block;
	position:static;
	top:auto;
	left:auto
}
#nav-wrapper {
	*zoom:1;
	box-sizing:border-box;
	display:block;
	max-width:1400px;
	margin:0 auto;
	padding:0 0;
	width:85%;
	display:block;
	max-width:1400px;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	opacity:1;
	border-bottom:1px solid transparent;
	-webkit-transition:opacity 300ms 500ms ease-in,border-color 300ms ease-in;
	transition:opacity 300ms 500ms ease-in,border-color 300ms ease-in
}
#nav-wrapper:before,#nav-wrapper:after {
	content:"";
	display:table
}
#nav-wrapper:after {
	clear:both
}
body.project #nav-wrapper {
	width:100%;
	max-width:100%;
	position:fixed;
	top:0;
	display:block;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	left:auto;
	width:100%;
	z-index:10;
	border-bottom:1px solid rgba(0,0,0,0.1);
	background:#fff
}
.project-row {
	height:80px;
	margin:0 0 40px
}
.project-row:last-child {
	margin-bottom:0
}
.project-row>a {
	display:block
}
.project-row .index {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:8.3333333333%;
	padding:0 10px;
	padding-top:24px;
	padding-bottom:25px
}
.project-row .index svg {
	width:25px;
	height:25px;
	display:block
}
.project-row .index svg .bot,.project-row .index svg .top {
	opacity:0;
	stroke-dasharray:100%;
	stroke-dashoffset:-100%
}
body.project .project-row .index svg .bot,body.project .project-row .index svg .top {
	opacity:1;
	stroke-dashoffset:0
}
.project-row .index svg line {
	stroke:#333
}
body.project .project-row .index svg .ver {
	opacity:0
}
.project-row .name {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:18.1818181818%;
	padding:0 10px;
	padding-left:0
}
.project-row .type {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:18.1818181818%;
	padding:0 10px;
	margin-left:27.2727272727%
}
.project-row .year {
	box-sizing:border-box;
	display:inline;
	float:right;
	width:18.1818181818%;
	padding:0 10px
}
.project-row .team {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:18.1818181818%;
	padding:0 10px;
	padding-right:0
}
.project-row .desc {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:100%;
	padding:0 0px;
	border-bottom:1px solid rgba(0,0,0,0.1)
}
body.project .project-row .desc {
	border-bottom:0
}
.project-row .meta {
	border-top:1px solid rgba(0,6,255,0.7));
	display:block;
	font-size:11px;
	line-height:11px;
	color:rgba(0,6,255,0.7);
	padding-top:20px;
	-webkit-transition:color 700ms linear;
	transition:color 700ms linear
}
body.project .project-row .meta {
	border-top:none
}
.project-row p {
	margin:0px 0px 0px 0px;
	padding-top:6px;
	padding-bottom:20px;
	text-transform:uppercase;
	letter-spacing:2px
}
#bg-wrapper {
	width:100%;
	height:100%;
	display:none
}
#bg-wrapper .bg-image {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	z-index:-99;
	opacity:0;
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-perspective:1000;
	perspective:1000;
	-webkit-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-webkit-backface-visibility:hidden;
	-webkit-transition:opacity 600ms ease-in,-webkit-transform 1400ms cubic-bezier(0.455,0.03,0.515,0.955);
	transition:opacity 600ms ease-in,transform 1400ms cubic-bezier(0.455,0.03,0.515,0.955)
}
#bg-wrapper .bg-image.active {
	opacity:.10;
	-webkit-transform:scale(1.03,1.03);
	-ms-transform:scale(1.03,1.03);
	transform:scale(1.03,1.03)
}

}
#content-wrapper:before,#content-wrapper:after {
	content:"";
	display:table
}
#content-wrapper:after {
	clear:both
}
#content-wrapper>h2,#content-wrapper>h3,#content-wrapper>h4,#content-wrapper>h5,#content-wrapper>h6,#content-wrapper>p,#content-wrapper>ul,#content-wrapper>ol,#content-wrapper>blockquote {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:50%;
	padding:0 10px;
	margin-left:25%
}
#content-wrapper h3,#content-wrapper h4,#content-wrapper h5,#content-wrapper h6 {
	font-size:11px;
	line-height:11px;
	margin-bottom:9px;
	color:rgba(0,6,255,0.7);
	margin-top:3px
}
#content-wrapper h2 {
	font-size:16px;
	line-height:11px;
	margin-bottom:9px;
	color:rgba(0,6,255,0.7);
	margin-top:3px
}
#content-wrapper h1 {
	font-size:13px;
	line-height:11px;
	margin-bottom:9px;
	color:#000;
	margin-top:3px
}
#content-wrapper p {
	font-size:13px;
	line-height:23px;
	margin-bottom:23px
}

#content-wrapper .info-box {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:50%;
	padding:0 10px;
	margin-left:25%
}
#content-wrapper .info-box .info {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:33.3333333333%;
	padding:0 0;
	min-height:50px;
	margin-bottom:23px
}
#content-wrapper .info-box .info h2 {
	font-size:16px;
	line-height:11px;
	margin-bottom:9px
}
#content-wrapper .info-box .info ul {
	padding:0;
	margin:0;
	list-style:none
}
#content-wrapper .info-box .info ul li {
	font-size:13px;
	line-height:23px
}
.img-grid {
	width:100%;
	background:#EEEEEE;
	*zoom:1
}
.img-grid:before,.img-grid:after {
	content:"";
	display:table
}
.img-grid:after {
	clear:both
}
.img-grid .inner {
	width:85%;
	max-width:1400px;
	margin-top:50px !important;
	margin-bottom:50px !important;
	*zoom:1;
	box-sizing:border-box;
	display:block;
	max-width:1400px;
	margin:0 auto;
	padding:0 0
}
.img-grid .inner:before,.img-grid .inner:after {
	content:"";
	display:table
}
.img-grid .inner:after {
	clear:both
}
.img-grid .inner .span1 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:8.3333333333%;
	padding:0 10px
}
.img-grid .inner .span2 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:16.6666666667%;
	padding:0 10px
}
.img-grid .inner .span3 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:25%;
	padding:0 10px
}
.img-grid .inner .span4 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:33.3333333333%;
	padding:0 10px
}
.img-grid .inner .span5 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:41.6666666667%;
	padding:0 10px
}
.img-grid .inner .span6 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:50%;
	padding:0 10px
}
.img-grid .inner .span7 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:58.3333333333%;
	padding:0 10px
}
.img-grid .inner .span8 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:66.6666666667%;
	padding:0 10px
}
.img-grid .inner .span9 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:75%;
	padding:0 10px
}
.img-grid .inner .span10 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:83.3333333333%;
	padding:0 10px
}
.img-grid .inner .span11 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:91.6666666667%;
	padding:0 10px
}
.img-grid .inner .span12 {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:100%;
	padding:0 10px
}
.img-grid .inner>div {
	margin:10px 0
}
.img-grid .inner img,.img-grid .inner video {
	display:block !important;
	width:100%;
	height:auto
}
footer {
	width:100%
}
footer .inner {
	width:85%;
	max-width:1400px;
	*zoom:1;
	box-sizing:border-box;
	display:block;
	max-width:1400px;
	margin:0 auto;
	padding:0 0
}
footer .inner:before,footer .inner:after {
	content:"";
	display:table
}
footer .inner:after {
	clear:both
}
footer .inner .name {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:16.6666666667%;
	padding:0 10px;
	display:block;
	padding-top:30px;
	padding-bottom:30px
}
footer .inner .social {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:33.3333333333%;
	padding:0 10px;
	margin-left:50%
}
footer .inner .social a {
	box-sizing:border-box;
	display:inline;
	float:left;
	width:25%;
	padding:0 0;
	display:block;
	padding-top:30px;
	padding-bottom:30px;

}
footer .inner .next {
	display:none
}
#mobile-overlay {
	display:none
}
@media screen and (min-width:1025px) {
	.project-row>a.collapsed .index svg {
		opacity:.5;
		-webkit-transition:all 200ms cubic-bezier(0.455,0.03,0.515,0.955);
		transition:all 200ms cubic-bezier(0.455,0.03,0.515,0.955)
	}
	.project-row>a.collapsed .index svg .ver {
		-webkit-transform:scale(1,0);
		-ms-transform:scale(1,0);
		transform:scale(1,0);
		-webkit-transform-origin:center center;
		-ms-transform-origin:center center;
		transform-origin:center center;
		-webkit-transition:all 200ms cubic-bezier(0.455,0.03,0.515,0.955);
		transition:all 200ms cubic-bezier(0.455,0.03,0.515,0.955)
	}
	.project-row>a.collapsed .desc {
		opacity:1;
		border-bottom:1px solid transparent;
		-webkit-transition:border-color 300ms cubic-bezier(0.455,0.03,0.515,0.955);
		transition:border-color 300ms cubic-bezier(0.455,0.03,0.515,0.955)
	}
	.project-row>a.collapsed .desc>div .meta {
		opacity:0;
		-webkit-backface-visibility:hidden;
		-webkit-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
		-webkit-transition:all 250ms cubic-bezier(0.455,0.03,0.515,0.955);
		transition:all 250ms cubic-bezier(0.455,0.03,0.515,0.955)
	}
	.project-row>a.collapsed .desc>div p {
		opacity:0;
		-webkit-backface-visibility:hidden;
		-webkit-transform:translate3d(0,-10px,0);
		transform:translate3d(0,-10px,0);
		-webkit-transition:all 200ms cubic-bezier(0.455,0.03,0.515,0.955);
		transition:all 200ms cubic-bezier(0.455,0.03,0.515,0.955)
	}
	.project-row>a.collapsed .desc .name {
		opacity:1
	}
	.project-row>a.collapsed .desc .name p {
		opacity:1
	}
	.project-row>a.collapsed:hover .index svg,.project-row>a.collapsed.active .index svg {
		opacity:1;
		-webkit-transition:all 200ms cubic-bezier(0.455,0.03,0.515,0.955);
		transition:all 200ms cubic-bezier(0.455,0.03,0.515,0.955)
	}
	.project-row>a.collapsed:hover .index svg .ver,.project-row>a.collapsed.active .index svg .ver {
		opacity:1;
		-webkit-transform:scale(1,1);
		-ms-transform:scale(1,1);
		transform:scale(1,1)
	}
	.project-row>a.collapsed:hover .desc,.project-row>a.collapsed.active .desc {
		opacity:1;
		border-bottom:1px solid rgba(0,0,0,0.1)
	}
	.project-row>a.collapsed:hover .desc .team .meta,.project-row>a.collapsed.active .desc .team .meta {
		-webkit-transition-delay:300ms;
		transition-delay:300ms
	}
	.project-row>a.collapsed:hover .desc .team p,.project-row>a.collapsed.active .desc .team p {
		-webkit-transition-delay:600ms;
		transition-delay:600ms
	}
	.project-row>a.collapsed:hover .desc .year .meta,.project-row>a.collapsed.active .desc .year .meta {
		-webkit-transition-delay:200ms;
		transition-delay:200ms
	}
	.project-row>a.collapsed:hover .desc .year p,.project-row>a.collapsed.active .desc .year p {
		-webkit-transition-delay:500ms;
		transition-delay:500ms
	}
	.project-row>a.collapsed:hover .desc .type .meta,.project-row>a.collapsed.active .desc .type .meta {
		-webkit-transition-delay:100ms;
		transition-delay:100ms
	}
	.project-row>a.collapsed:hover .desc .type p,.project-row>a.collapsed.active .desc .type p {
		-webkit-transition-delay:400ms;
		transition-delay:400ms
	}
	.project-row>a.collapsed:hover .desc>div,.project-row>a.collapsed.active .desc>div {
		opacity:1;
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0)
	}
	.project-row>a.collapsed:hover .desc>div .meta,.project-row>a.collapsed.active .desc>div .meta {
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
		opacity:1
	}
	.project-row>a.collapsed:hover .desc>div p,.project-row>a.collapsed.active .desc>div p {
		opacity:1;
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0)
	}
}
.project-row.header {
	margin:0 auto;
	width:85%;
	max-width:1400px;
	height:75px
}
.project-row.header a svg .top {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
.project-row.header a svg .bot {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
.project-row.header a svg .top,.project-row.header a svg .bot {
	transition:transform 200ms cubic-bezier(0.455,0.03,0.515,0.955);
	-webkit-transition:-webkit-transform 200ms cubic-bezier(0.455,0.03,0.515,0.955)
}
.project-row.header a:hover svg .top {
	-webkit-transform:translate3d(0,2px,0);
	transform:translate3d(0,2px,0)
}
.project-row.header a:hover svg .bot {
	-webkit-transform:translate3d(0,-2px,0);
	transform:translate3d(0,-2px,0)
}
#wrapper {
	-webkit-transition:height 400ms 400ms ease-in-out;
	transition:height 400ms 400ms ease-in-out
}
.project-row {
	-webkit-transition:all 400ms 300ms cubic-bezier(0.455,0.03,0.515,0.955);
	transition:all 400ms 300ms cubic-bezier(0.455,0.03,0.515,0.955)
}
.project-row.header {
	opacity:1 !important;
	-webkit-transition-delay:none !important;
	transition-delay:none !important
}
body.startTransition .project-row:not(.active) {
	height:0;
	margin:0;
	opacity:0;
	overflow:hidden;
	-webkit-transition:all 400ms 300ms cubic-bezier(0.455,0.03,0.515,0.955);
	transition:all 400ms 300ms cubic-bezier(0.455,0.03,0.515,0.955)
}
body.startTransition .project-row.active a .index {
	padding-top:24px;
	padding-bottom:25px
}
body.startTransition .project-row.active a .index .top,body.startTransition .project-row.active a .index .bot {
	opacity:1;
	stroke-dashoffset:0;
	-webkit-transition:all 300ms 200ms ease;
	transition:all 300ms 200ms ease
}
body.startTransition .project-row.active a .index .ver {
	opacity:0 !important;
	-webkit-transform:scale(1,0) !important;
	-ms-transform:scale(1,0) !important;
	transform:scale(1,0) !important;
	-webkit-transition-delay:0 !important;
	transition-delay:0 !important
}
body.startTransition .project-row.active a .desc {
	opacity:1
}
body.startTransition .project-row.active a .desc>div {
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
body.startTransition .project-row.active a .desc>div .meta {
	border-top:0
}
body.startTransition .project-row.active a .desc>div p {
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
body.startTransition #nav-wrapper {
	top:0;
	-webkit-transform:translate3d(-50%,0,0);
	transform:translate3d(-50%,0,0);
	-webkit-transition:top 300ms 400ms cubic-bezier(0.455,0.03,0.515,0.955),-webkit-transform 300ms 400ms cubic-bezier(0.455,0.03,0.515,0.955);
	transition:top 300ms 400ms cubic-bezier(0.455,0.03,0.515,0.955),transform 300ms 400ms cubic-bezier(0.455,0.03,0.515,0.955)
}
body.project.startTransition #content-wrapper {
	opacity:0;
	-webkit-transform:translate3d(0,-50px,0);
	transform:translate3d(0,-50px,0);
	-webkit-transition-delay:0;
	transition-delay:0
}
body.project #content-wrapper {
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
#content-wrapper {
	transition:opacity 600ms 200ms cubic-bezier(0.455,0.03,0.515,0.955),transform 500ms 200ms cubic-bezier(0.455,0.03,0.515,0.955);
	-webkit-transition:opacity 600ms 200ms cubic-bezier(0.455,0.03,0.515,0.955),-webkit-transform 500ms 200ms cubic-bezier(0.455,0.03,0.515,0.955)
}
body.projectTransition #content-wrapper {
	opacity:0;
	-webkit-transform:translate3d(0,-50px,0);
	transform:translate3d(0,-50px,0);
	transition-delay:0;
	-webkit-transition-delay:0
}
body.projectTransition .project-row:not(.active) {
	height:0;
	margin-bottom:0;
	opacity:0;
	overflow:hidden;
	-webkit-transition:all 500ms 300ms cubic-bezier(0.455,0.03,0.515,0.955);
	transition:all 500ms 300ms cubic-bezier(0.455,0.03,0.515,0.955)
}
body.projectTransition .project-row.active .desc {
	opacity:0;
	-webkit-transition:opacity 500ms cubic-bezier(0.455,0.03,0.515,0.955);
	transition:opacity 500ms cubic-bezier(0.455,0.03,0.515,0.955)
}
body.projectTransition .project-row.active .desc div p {
	opacity:0;
	-webkit-transform:translate3d(0,20px,0);
	transform:translate3d(0,20px,0);
	-webkit-transition:all 300ms cubic-bezier(0.455,0.03,0.515,0.955);
	transition:all 300ms cubic-bezier(0.455,0.03,0.515,0.955)
}
body.projectTransition .project-row.active .index {
	-webkit-transition:border 500ms cubic-bezier(0.455,0.03,0.515,0.955);
	transition:border 500ms cubic-bezier(0.455,0.03,0.515,0.955)
}
body.projectTransition .project-row.active .index .top,body.projectTransition .project-row.active .index .bot {
	opacity:0;
	stroke-dashoffset:100%;
	-webkit-transition:all 500ms 0 cubic-bezier(0.455,0.03,0.515,0.955);
	transition:all 500ms 0 cubic-bezier(0.455,0.03,0.515,0.955)
}
body.projectTransition #nav-wrapper {
	-webkit-transform:translate3d(0,500px,0);
	transform:translate3d(0,500px,0);
	opacity:0;
	-webkit-transition:top 300ms 500ms cubic-bezier(0.455,0.03,0.515,0.955),-webkit-transform 300ms 500ms cubic-bezier(0.455,0.03,0.515,0.955),opacity 300ms 500ms ease-in;
	transition:top 300ms 500ms cubic-bezier(0.455,0.03,0.515,0.955),transform 300ms 500ms cubic-bezier(0.455,0.03,0.515,0.955),opacity 300ms 500ms ease-in
}
body.projectTransition footer {
	transform:translate3d(0,100%,0);
	-webkit-transform:translate3d(0,100%,0)
}
.img-grid.hide {
	opacity:0;
	transition:all 300ms 0 ease-in;
	-webkit-transition:all 300ms 0 ease-in
}
@media screen and (max-width:1200px) {
	#content-wrapper>h2,#content-wrapper>h3,#content-wrapper>h4,#content-wrapper>h5,#content-wrapper>h6,#content-wrapper>p,#content-wrapper>ul,#content-wrapper>ol,#content-wrapper>blockquote {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:66.6666666667%;
		padding:0 10px;
		margin-left:16.6666666667%
	}
	#content-wrapper .info-box {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:66.6666666667%;
		padding:0 10px;
		margin-left:16.6666666667%
	}
	#content-wrapper .info-box .info {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:37.5%;
		padding:0 0
	}
	#content-wrapper .info-box .info.link {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:25%;
		padding:0 0
	}
}
@media screen and (max-width:1024px) {
	#bg-wrapper {
		display:none !important
	}
	#nav-wrapper {
		width:90%;
		-webkit-transform:none;
		-ms-transform:none;
		transform:none;
		left:auto;
		top:auto;
		position:static
	}
	body.startTransition #nav-wrapper {
		-webkit-transform:none;
		-ms-transform:none;
		transform:none
	}
	.project-row {
		margin:30px 0
	}
	.project-row.active {
		margin:0 auto
	}
	.project-row:last-child {
		margin-bottom:30px
	}
	.project-row .desc {
		border-bottom:none
	}
	.project-row .desc * {
		border-top:none
	}
	.project-row.header {
		width:90%
	}
	.project-row.header:last-child {
		margin-bottom:0
	}
	footer .inner {
		width:90%
	}
	footer .inner .social {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:50%;
		padding:0 10px;
		margin-left:33.3333333333%
	}
	footer .inner .next {
		display:none
	}
	#content-wrapper {
		width:90%
	}
	.img-grid .inner {
		margin-top:25px !important;
		margin-bottom:25px !important;
		width:90%
	}
	a:link,a:visited {
		text-decoration:underline
	}
}
@media screen and (max-width:768px) {
	.project-row .name {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:27.2727272727%;
		padding:0 10px
	}
	.project-row .type {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:18.1818181818%;
		padding:0 10px;
		margin-left:9.0909090909%
	}
	.project-row .year {
		box-sizing:border-box;
		display:inline;
		float:right;
		width:18.1818181818%;
		padding:0 10px
	}
	.project-row .team {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:27.2727272727%;
		padding:0 10px;
		padding-right:0
	}
	#content-wrapper>h2,#content-wrapper>h3,#content-wrapper>h4,#content-wrapper>h5,#content-wrapper>h6,#content-wrapper>p,#content-wrapper>ul,#content-wrapper>ol,#content-wrapper>blockquote {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:83.3333333333%;
		padding:0 10px;
		margin-left:8.3333333333%
	}
	#content-wrapper .info-box {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:83.3333333333%;
		padding:0 10px;
		margin-left:8.3333333333%
	}
	#content-wrapper .info-box .info.link {
		margin-left:30%
	}
	#content-wrapper .info-box .info.awards {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 0
	}
	#content-wrapper .info-box .info.spacer {
		display:none
	}
}
@media screen and (max-width:420px) {
	.project-row {
		margin-bottom:0;
		clear:both
	}
	.project-row .index {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:16.6666666667%;
		padding:0 10px
	}
	.project-row .index svg {
		width:19px;
		height:19px;
		margin-top:26px;
		margin-bottom:29px
	}
	.project-row .desc {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:83.3333333333%;
		padding:0 10px;
		padding:0;
		border-bottom:none;
		-webkit-transition:border 300ms 0 ease-in-out;
		transition:border 300ms 0 ease-in-out
	}
	.project-row .desc .meta {
		border-top:none
	}
	.project-row .name {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 0;
		padding-left:0
	}
	.project-row .type {
		display:none
	}
	.project-row .year {
		display:none
	}
	.project-row .team {
		display:none
	}
	.project-row.header {
		width:90%
	}
	.project-row.header .desc {
		border-bottom:1px solid #E5E5E5
	}
	body.startTransition .project-row.active a .index {
		padding-top:0;
		padding-bottom:0
	}
	body.startTransition .project-row.active a .desc {
		border-bottom:1px solid #E5E5E5
	}
	#content-wrapper>h2,#content-wrapper>h3,#content-wrapper>h4,#content-wrapper>h5,#content-wrapper>h6,#content-wrapper>p,#content-wrapper>ul,#content-wrapper>ol,#content-wrapper>blockquote {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 10px;
		margin-left:0%
	}
	#content-wrapper h3,#content-wrapper h4,#content-wrapper h5,#content-wrapper h6 {
		font-size:9px;
		line-height:11px;
		margin-bottom:9px;
		margin-top:10px
	}
#content-wrapper>h2
{
	font-size:14px;
	line-height:11px;
	margin-bottom:9px;
	}
	#content-wrapper p {
		font-size:11px;
		line-height:20px;
		margin-bottom:20px
	}
	#content-wrapper .info-box {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 10px;
		margin-left:0%;
		font-size:11px;
		line-height:20px
	}
	#content-wrapper .info-box .info,#content-wrapper .info-box .info.link {
		padding:0 !important;
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 10px;
		margin-left:0%
	}
	#content-wrapper .info-box,#content-wrapper .info-box .info.link h2 {
		font-size:9px;
		line-height:11px;
		margin-bottom:9px;
		margin-top:10px
	}
.info h2
{	font-size:14px;
	line-height:11px;
	margin-bottom:9px;
	margin-top:3px
		}
	#content-wrapper .info-box .info ul li,#content-wrapper .info-box .info.link ul li {
		font-size:11px;
		line-height:20px
	}
	.img-grid .inner img,.img-grid .inner video,.img-grid .inner .span1,.img-grid .inner .span2,.img-grid .inner .span3,.img-grid .inner .span4,.img-grid .inner .span5,.img-grid .inner .span6,.img-grid .inner .span7,.img-grid .inner .span8,.img-grid .inner .span9,.img-grid .inner .span10,.img-grid .inner .span11,.img-grid .inner .span12 {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 10px
	}
	footer .inner {
		width:90%;
		padding-top:5px;
		padding-bottom:5px;
		font-size:11px;
		line-height:20px
	}
	footer .inner .name {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 10px;
		margin-left:0%;
		*zoom:1;
		text-align:center;
		margin:15px 0 10px
	}
	footer .inner .name:before,footer .inner .name:after {
		content:"";
		display:table
	}
	footer .inner .name:after {
		clear:both
	}
	footer .inner .social {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 10px;
		margin-left:0%;
		*zoom:1
	}
	footer .inner .social:before,footer .inner .social:after {
		content:"";
		display:table
	}
	footer .inner .social:after {
		clear:both
	}
	footer .inner .social a {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:50%;
		padding:0 0;
		padding-top:5px;
		padding-bottom:5px
	}
	footer .inner p,footer .inner .next {
		box-sizing:border-box;
		display:inline;
		float:left;
		width:100%;
		padding:0 10px;
		margin-left:0%;
		text-align:center;
		padding-top:10px;
		padding-bottom:5px
	}
	footer .inner .next {
		display: none
	}
}
