header{
    display:block
}
[hidden]{
    display:none
}
html{
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body{
    margin:0;
}
#wrapper{
    width:500px;
    overflow:hidden;
}
a:focus{
    background:0 0!important;
    color:inherit;
    border:none;
    padding:0!important;
    font:inherit;
    cursor:pointer
}
a:active,a:hover{
    background:0 0!important;
    color:inherit;
    border:none;
    padding:0!important;
    font:inherit;
    cursor:pointer
}
code{
    font-family:monospace,serif;
    font-size:1em
}
.col1{
   position: relative;
   overflow: hidden;
   text-align: left;
   float: left;
   width: 500px;
   left: 20%;
}
.col2{
    position:relative;
    overflow:hidden;
    float:left;
    width:400px;
    left:16%
}
.col3{
    position:relative;
    overflow:hidden;
    float:right;
    width:20%;
    right:4%
}
.col4{
    position:relative;
    overflow:hidden;
    text-align:left;
    float:right;
    width:600px;
    right:8%
}
.col5{
    position:relative;
    overflow:hidden;
    float:left;
    width:20%;
    left:8%
}
.col6{
    position:relative;
    overflow:hidden;
    float:left;
    width:20%;
    left:8%
}
.col7{
    position:relative;
    overflow:hidden;
    float:right;
    width:20%;
    right:4%
}
.col8{
    position:relative;
    overflow:hidden;
    float:right;
    width:20%;
    right:4%
}
select{
    font-family:inherit;
    font-size:100%;
    margin:0
}
*,:after,:before{
    box-sizing:inherit
}
body{
    font-family:source-code-pro,"Source Code Pro","Courier New",monospace;
    font-weight:400;
    font-style:normal;
    background:#fff;
    color:#333;
    font-size:14px;
    line-height:18px
}
a:link,a:visited{
    text-decoration:none
}
a:hover{
    text-decoration:none
}
a:active{
    text-decoration:none
}
p a:link,p a:visited{
    text-decoration:none
}
p{
    font-family:source-code-pro,"Source Code Pro","Courier New",monospace;
    font-weight:400;
    font-style:normal;
    margin:0
}
body,html{
    height:100%;
    width:100%;
    position:center
}
#wrapper{
    height:100%!important;
    width:100%;
    display:block
}
#wrapper:after,#wrapper:before{
    content:"";
    display:table
}
#wrapper:after{
    clear:both
}
body.project #wrapper{
    width:auto;
    height:auto;
    display:block;
    position:static;
    top:auto;
    left:auto
}
.project-row{
    height:80px;
    margin:0 0 40px
}
.project-row:last-child{
    margin-bottom:0
}
.project-row>a{
    display:block
}
.project-row .index{
    box-sizing:border-box;
    display:inline;
    float:left;
    width:8.3333333333%;
    padding:0 10px;
    padding-top:24px;
    padding-bottom:25px
}
.project-row .name{
    box-sizing:border-box;
    display:inline;
    float:left;
    width:18.1818181818%;
    padding:0 10px;
    padding-left:0
}
.project-row .type{
    box-sizing:border-box;
    display:inline;
    float:left;
    width:18.1818181818%;
    padding:0 10px;
    margin-left:27.2727272727%
}
.project-row .year{
    box-sizing:border-box;
    display:inline;
    float:right;
    width:18.1818181818%;
    padding:0 10px
}
.project-row .desc{
    box-sizing:border-box;
    display:inline;
    float:left;
    width:100%;
    padding:0 0;
    border-bottom:1px solid rgba(0,0,0,.1)
}
body.project .project-row .desc{
    border-bottom:0
}
.project-row .meta{
    border-top:1px solid rgba(0,6,255,.7) );
    display:block;
    font-size:11px;
    line-height:11px;
    color:rgba(0,6,255,.7);
    padding-top:20px;
    -webkit-transition:color .7s linear;
    transition:color .7s linear
}
body.project .project-row .meta{
    border-top:none
}
.project-row p{
    margin:0;
    padding-top:6px;
    padding-bottom:20px;
    text-transform:uppercase;
    letter-spacing:2px
}
